.App {
  text-align: center;
}

@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



* {
  color:#0F0F0C;
  font-family: 'Oswald', sans-serif;
  font-family: 'Titillium Web', sans-serif;
  background-color: #E2E1D5;
  
} 

.portfolioCont{
  background-color: #E2E1D5;
}

/* Nav styling */

.nav-tabs {
  background-color: #E2E1D5;
}

.nav-item a {
  color: #0F0F0C;
  text-decoration: none;
}

.nac-item a:hover { 
  color: #617C84;
}

/* header styling*/

.home-body {
  background-image: url("https://i.imgur.com/UB3zdiP.png") ; 
  /* background-image: url("https://i.imgur.com/zTvLbdO.jpg") ; */
}


/* projects styling  */

.card1 {
  height: 33vh;
  background-size: cover;
  background-position-y: 60%;
  display: flex;
  align-items: center;
  justify-content: center; 
  /* background-image: url("https://i.imgur.com/pX19Cum.jpg"); */
  background-image: url("https://i.imgur.com/i31Irdl.jpg");
}

.card2 {
  height: 33vh;
  background-size: cover;
  background-position-y: center;
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-image: url("https://i.imgur.com/ZPc3WT7.jpg");
  
}

.card3 {
  height: 33vh;
  background-size: cover;
  background-position-y: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://i.imgur.com/5YfrufZ.jpg");
  
}

.card4 {
  height: 33vh;
  background-size: cover;
  background-position-y: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://i.imgur.com/bqRI6zA.jpg");
 
}

.card5 {
  height: 33vh;
  background-size: cover;
  background-position-y: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://i.imgur.com/rMViTU6.jpg");
 
  
}

.card6 {
  height: 33vh;
  background-size: cover;
  background-position-y: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url("https://i.imgur.com/dUq3m2a.jpg"); */
 
  background-image: url("https://i.imgur.com/ngghKdG.jpg");
}

h5 {
  text-align: center;
 
}

.card-title  { 
  background-color: #E2E1D5;
  border-radius: 5px;
  padding: 5px;
  max-width: fit-content; 
}

.card-body {
  display: flex; 
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  flex-direction: column; 
  border-radius: 5px; 
}


.card-anchor { 
  color: #0F0F0C;
  text-decoration: none;
  background-color: #E2E1D5;
  border-radius: 5px;
  max-width: fit-content;

}

.card-anchor:hover { 
  color: #617C84;
}


/* contact styling */

.form-container {
  background-color: #E2E1D5;
}

.error-text {
  font-weight: 200;
}

.success-text {
  font-weight: 200
}

/* about styling */


#aboutDiv {
  background-color: #E2E1D5;
  margin-left:10px;
  margin-right: 10px;
  height: 100%;
}

.aboutIntro {
  margin: 40px 10px;
}

#aboutDiv .image-container {
  background-color: #E2E1D5;
  border-radius: 10px;
  max-width: 375px;
  margin: 50px;
}
.image-container img {
  border-radius: 5px; 
}
.main-about {
  display: flex;
}

#about-me-para {
  padding: 25px;
}
.main-about p {
  height: 100%; 
  align-items: center; 
  padding: 70px 50px; 
}

@media screen and (max-width: 900px) {
  .aboutDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }
}
.about-body {
  display: flex; 
  flex-direction: row; 
}
/* footer styling */

.footer {
  background-color: #E2E1D5;
  flex-shrink: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* nav style*/
  .nav {
    list-style-type: none;
  }
  
  .nav-item {
    display: inline-block;
    padding-left: 30px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #0F0F0C;
    margin-right: 10px;
  }


/* container styling */

.portfolioCont {
  height: '100vh';
  width: '100vw'
} 

/* Resume Download */

.resume-page {
  background-color: #C3A32C;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px; 
  height: 100vh; 
}

.skills {
  padding-bottom: 10px;
  color: hsl(146, 54%, 28%);
  background-color: #C3A32C;
}
.res-wrap {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  width: 100%; 
  background-color: #C3A32C;
}

.circle {
  height: 550px; 
  width: 550px; 
  border-radius: 50%;
  border: solid 2px #216E42;
  background-color: #C3A32C;
  cursor: pointer; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  z-index: 100; 
}

 .tools {
  font-size: 44px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #216E42;
  position: relative; 
  background-color: #C3A32C;
}
.circle:hover {
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.7);
}
.tools:hover {
  color: #0e341f;
}
.resCont {
  height: 100vw; 
  background-color: #C3A32C;
}


@media screen and (max-width: 554px) {
  .tools {
    font-size: 30px; 
  }
  .circle {
    height: 350px; 
    width: 350px; 
  }

}
@media screen and (max-width: 386px) {
  .tools {
    font-size: 20px; 
  }
  .circle {
    height: 240px; 
    width: 240px; 
  }

}
